In [246]:
import csv
import pandas as pd
from pathlib import Path

In [247]:
menu_filepath = Path('menu_data.csv')
sales_filepath = Path('sales_data.csv')

In [248]:
menudf = pd.read_csv(menu_filepath, index_col="item")
salesdf = pd.read_csv(sales_filepath, index_col="Menu_Item")

In [249]:
menudf = menudf.drop(columns=["category", "description"])
menudf = menudf.sort_values("item", ascending=True)

In [250]:
salesdf = salesdf.drop(columns=["Line_Item_ID", "Date", "Credit_Card_Number"])
salesdf = salesdf.rename(columns={"Menu_Item": "item"})
salesdf = salesdf.sort_values("Menu_Item", ascending=True)
salesdf = salesdf.groupby("Menu_Item")

In [251]:
sumdf = salesdf["Quantity"].sum()

In [252]:
joined = pd.concat([sumdf, menudf], axis="columns", join="inner")

In [253]:
joined["02-revenue"] = joined["Quantity"] * joined["price"]
joined["03-cogs"] = joined["Quantity"] * joined["cost"]
joined["04-profit"] = joined["02-revenue"] - joined["03-cogs"]

In [254]:
joined2 = joined.drop(columns = ["price", "cost"])
report = joined2.rename(columns = {"items": "sales_item", "Quantity": "01-count"})
report

,01-count,02-revenue,03-cogs,04-profit
burnt garlic tonkotsu ramen,9070,126980.0,54420,72560.0
miso crab ramen,8890,106680.0,53340,53340.0
nagomi shoyu,9132,100452.0,45660,54792.0
shio ramen,9180,100980.0,45900,55080.0
soft-shell miso crab ramen,9130,127820.0,63910,63910.0
spicy miso ramen,9238,110856.0,46190,64666.0
tonkotsu ramen,9288,120744.0,55728,65016.0
tori paitan ramen,9156,119028.0,54936,64092.0
truffle butter ramen,8982,125748.0,62874,62874.0
vegetarian curry + king trumpet mushroom ramen,8824,114712.0,61768,52944.0
vegetarian spicy miso,9216,110592.0,46080,64512.0

In [257]:
report.to_csv("report.csv")